        /* Display */
        .d-flex {display: flex}
        .d-inline-block {display: inline-block;}

        /* Font sizes */
        .fs-small {font-size: .8em}
        .fw-light {font-weight: 300}

        /* Text */
        .no-underline {text-decoration: none;}
        .hover\\:underline:hover {text-decoration: underline;}
        .lh-solid {line-height: 1;}
        
        /* Text colors */
        .grey {color: var(--dark-grey)}
        .light-grey {color: var(--light-grey)}
        .hover\\:orange:hover {color: var(--lion-orange)}

        /* Spacing */
        .m-0 {margin: 0}
        .p-0 {padding:0}
        .pr-1 {padding-right: .25em}
        .pl-1 {padding-left: .25em}
        .pl-2 {padding-left: .5em}
        .mr-1 {margin-right: .25em}
        .mr-2 {margin-right: .5em}

        /* Flex */
        .align-items-center {align-items: center;}
        .justify-items-between {justify-content: space-between;}
        .flex-wrap {flex-wrap: wrap;}
        .flex-grow {flex-grow: 1; background:pink;}

        /* not small screen */
        @media only screen and (min-width: 30em) {
            .ns\\:flex-wrap {flex-wrap: wrap;}
        }

        /* Forms */
        input {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: transparent;
        }

        input::-moz-focus-inner {
            border: 0;
            padding: 0;
        }        

        /* Borders */
        .b-l-light-grey {
            border-left: solid 1px var(--ultra-light-grey)
        }